*.orig
*.cache
*.swp
.rbenv-version
hardcopy.*
README.html
runner.filter.html
runner.html
tags
/.jhw-cache/
/javascripts/
/vendor/
/bundle/
/build/snapeditor.js
/spec/acceptance/assets/snapeditor.js
/storage/
/lib/jquery.full.js
