*.orig
*.cache
*.swp
.rbenv-version
README.html
runner.filter.html
runner.html
tags
/.jhw-cache/
/javascripts/
/vendor/
/bundle/
/spec/acceptance/assets/snapeditor.js
/storage/
/spec/
/build/snapeditor.js
/build/build_*_gen.js
/build/snapeditor_*.js
/output
/tmp/