<div id="snapeditor_toolbar_template">
  <div class="snapeditor_toolbar">
    <div class="snapeditor_toolbar_content">
      <div class="snapeditor_toolbar_content_inner">
        {{#componentGroups}}
          <div class="snapeditor_toolbar_group">{{{html}}}</div>
          {{^last}}
            <div class="snapeditor_toolbar_divider"></div>
          {{/last}}
        {{/componentGroups}}
      </div>
    </div>
  </div>
</div>

<div id="snapeditor_toolbar_button_template">
  <div class="snapeditor_toolbar_button {{class}}">
    <input type="button" title="{{title}}" data-action="{{action}}" />
  </div>
</div>

<div id="snapeditor_toolbar_gap_template">
  <span class="snapeditor_toolbar_gap"></span>
</div>

<div id="snapeditor_contextmenu_template">
  <div class="snapeditor_contextmenu">
    <div class="snapeditor_contextmenu_content">
      <div class="snapeditor_contextmenu_content_inner">
        {{#componentGroups}}
          {{{html}}}
          {{^last}}
            <div class="snapeditor_contextmenu_separator"></div>
          {{/last}}
        {{/componentGroups}}
      </div>
    </div>
  </div>
</div>

<div id="snapeditor_contextmenu_button_template">
  <div class="snapeditor_contextmenu_button {{class}}">
    <button data-action="{{action}}">
      <table>
        <tbody>
          <tr>
            <td class="snapeditor_contextmenu_icon"><div></div></td>
            <td class="snapeditor_contextmenu_description">{{description}}</td>
            <td class="snapeditor_contextmenu_shortcut">{{shortcut}}</td>
          </tr>
        </tbody>
      </table>
    </button>
  </div>
</div>
